
<!DOCTYPE html>
<html>
<head>
 <title>Page 2</title>
</head>
<body>

<h1>Page 2</h1>

<div>

<button type="button" onclick="window.location.href='page1'">Homepage</button>

<div class="container">

<div>
    <select id="routes">
        <% for (var i=0; i<data.length; i++) { %>
            <option
                value="<%= data[i].routeID %>">
                <%= data[i].routeDescription %>
            </option>
        <% } %>
    </select> 
    <button type="button"
    onclick="window.location.href='page3?routeID='+document.getElementById('routes').value"
    >submit</button>
<div>

</div>

</body>
</html>
