
<!DOCTYPE html>
<html>
<head>
 <title>Page 3</title>
</head>
<body>

<h1>Page 3</h1>

<div>

<button type="button" onclick="window.location.href='page1'">Homepage</button>

<div class="container">

<div>
    <table>
        <% for (var i=0; i<data.length; i++) { %>
            <tr>
                <td><%= data[i].info.originName %></td>
                <td><%= data[i].info.headsign %></td>
            </tr>
        <% } %>
    </table>
<div>

</body>
</html>
