<!DOCTYPE html>
<html>
<head>
 <title>Page 1</title>
</head>
<body>

<h1>Page 1</h1>

</style>
</head>
<body>

<div class="container">
 
<div>
    <select id="importSource">
        <% for (var i=0; i<data.length; i++) { %>
            <option
                value="<%= data[i].importSourceID %>">
                <%= data[i].importSourceID %>
            </option>
        <% } %>
    </select> 
    <button type="page2"
    onclick="window.location.href='page2?importsources='+document.getElementById('importSource').value"
    >submit</button>

<footer>wire frame</footer>

</div>

</body>
</html>
